main {
  background-color: powderblue;
}
body {
  background-color: powderblue;
}
h1 {
  color: black;
  font-family: Arial;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 350px;
}
h2 {
  color: black;
  font-family: Arial;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}
h3 {
  color: black;
  font-family: Arial;
  margin-right: 50px;
  margin-left: 80px;
}
h4 {
  color: black;
  font-family: Arial;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  color: black;
  font-family: Arial;
  margin-left: 80px;
  margin-right: 50px;
}
div {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 80px;
}
img {
  margin-right: 150px;
  margin-left: 300px; 
}
article {
  padding-top: 20px;
  padding-right: 150px;
  padding-bottom: 20px;
  padding-left: 80px;
}
.contact {
  color: darkblue
}